<h1 class="display-2">Callback</h1>
<p class="lead">
  Now with the user identity verified by <em>ID.me</em>, we will post our client secret to receive a token we can use to access the Health API.
</p>

<% if @verified_state %>
    <%= render partial: 'post_data' %>
    <% if @oauth_response.ok? %>
        <%= render partial: 'oauth_response' %>
        <br/>
        <%= link_to 'Logout', logout_path, class: "btn btn-primary" %>
    <% else %>
        <%# bad response for oauth'ing %>
        <% if @oauth_response.code/400 == 1 %>
            <h3>Failed to authenticate response.</h3>        
            <dl>
                <dt><%= @oauth_response['error'] %></dt>
                <dd><%= @oauth_response['error_description'] %></dd>
            </dl>
        <% else %>
            <h3>Bad Response from Oauth Server</h3>
            <p>Response Code <code><%= @oauth_response.code %></code></p>
            <pre><code>
                <%= @oauth_response.body %>
            </code></pre>
        <% end %>
        <%= link_to 'Return to Login', login_path, class: "btn btn-primary" %>
    <% end %>
<% else %>
    <p>
        The time of login was sent in the "state" parameter, but the returned state does not match <%= session[:login_time] %>!
    </p>
    <%= link_to 'Return to Login', login_path, class: "btn btn-primary" %>
<% end %>

