<h1 class="display-2">Callback</h1>
<p class="lead">
  Now with the user identity verified by <em>ID.me</em>, we will post our client secret to receive a token we can use to access the Health API.
</p>

<% if @verified_state %>
    <p>
        To finish authentication, the server will make a <code>POST</code> to <code><%= @post_url %></code>.
    </p>
    <p>
        This is the basic auth for the post:
        <pre><code>
    {
        <% @auth.each do |key, value| %>
        <%= key %>: <%= value %>
        <% end %>
    }
        </code></pre>
    </p>
    <p>
        This is the body of the post, including the code and state sent from the oauth server:
        <pre><code>
    {
        <% @body.each do |key, value| %>
        <%= key %>: <%= value %>
        <% end %>
    }
        </code></pre>
    </p>
    <%= link_to 'Finish Authentication', authenticate_path(params: params.slice(:code, :state).permit!), class: "btn btn-primary" %>
<% else %>
    <p>
        The time of login was sent in the "state" parameter, but the returned state does not match <%= session[:login_time] %>!
    </p>
    <%= link_to 'Return to Login', login_path, class: "btn btn-primary" %>
<% end %>

