<div class="container">
    <% if flash.alert %>
    <br/>
    <div class="alert alert-danger" role="alert">
        <%= flash.alert %>
    </div>
    <% end %>
    <% if flash.notice %>
    <br/>
    <div class="alert alert-warning" role="alert">
        <%= flash.notice %>
    </div>
    <% end %>
    <div class="jumbotron">
        <h1 class="display-4">Veteran Verification Sample Rails App</h1>
        <p class="lead">Use Oauth to Login</p>
        <hr class="my-4">
        <p>After you login you will be directed to a page that shows data accessed from the Veteran Verification API.</p>
        <%= link_to 'Oauth Login', @oauth_url, class: "btn btn-primary btn-lg" %>
        <%= link_to 'Show me test users', 'https://github.com/department-of-veterans-affairs/vets-api-clients/blob/master/test_accounts.md', class: "btn btn-outline-secondary", target: "_blank" %>
    </div>
    <!-- Explain a bit about what each step will be like and what we'll show when the callback happens -->
    <div class="row">
        <h3 class="col-12">Oauth Login Link Params</h3>
        <p>These are the url parameters used to iniate the oauth.  Detailed documentation is found <%= link_to 'here', 'https://developer.va.gov/explore/health/docs/authorization' %>.</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Param</th>
                    <th scope="col">Value</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <% @oauth_param_description.each do |info| %>
                <tr>
                    <td>
                        <%= info[:param] %>
                        <% if info[:required] %>
                        <small><span class="badge badge-dark">REQUIRED</span></small>
                        <% end %>
                    </td>
                    <td><%= @oauth_params[info[:param]] %></td>
                    <td><%= info[:description] %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to 'Proceed with Oauth Login', @oauth_url, class: "btn btn-primary" %>
    </div>
</div>

