<div class="row">
    <h1 class="col-12">
    <% if @authentication.id == session[:id] %>
        Current Authentication Information
    <% else %>
        Details for Authentication <%= @authentication.id %>
    <% end %>
    </h1>
    <%= link_to '&larr; Back to API'.html_safe, health_api_path, class: 'btn btn-sm btn-outline-primary' %>
    <p class="lead">
        This session information is returned from OAuth after the user has successfully
        authenticated.  The information is stored on the server and the <code>id</code>
        for the <code>Authentication</code> object is stored in the browser session (Rails
        default is an http_only cookie).  The <%= link_to 'Health API Controller', health_api_path %>
        loads the <code>Authentication</code> object and uses a <code>before_action</code> to
        validate the session and know which token to use for API requests.  The values
        stored in the <code>Authentication</code> object are shown below with an explination of
        how they are used.
    </p>
</div>
<div class="row">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
            <th scope="col">Use</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>access_token</th>
                <td><em>hidden from browser</em></td>
                <td>
                    This should be added to the header of each request as <code>Authorization: Bearer <em>access_token</em></code>.
                    This is hidden here because this value is best kept secret on the server.
                    If you want to see it, open up <code>rails console</code> and call <code>access_token</code>
                    on the <code>Authentication</code> object with ID <code><%= @authentication.id %></code>.
                </td>
            </tr>
            <tr>
                <th>token_type</th>
                <td><%= @authentication.token_type %></td>
                <td>
                    This should be <code>Bearer</code> for the Authorization Code Flow used to verify your
                    app.
                </td>
            </tr>
            <tr>
                <th>expires_at</th>
                <td><%= @authentication.expires_at %></td>
                <td>
                    This is the timestamp for when the token will no longer be valid to make requests.
                </td>
            </tr>
            <tr>
                <th>scope</th>
                <td><%= @authentication.scope.gsub(' ', '<br>').html_safe %></td>
                <td>
                    This is the list of scopes requested with the authentication request.  It is a space-separated
                    list, but &lt;br&gt; tags replace the spaces for layout here.
                </td>
            </tr> 
            <tr>
                <th>state</th>
                <td><%= @authentication.state %></td>
                <td>
                    This is the value passed in with the authentication request.  It can be used for verifying
                    authenticity or storing app state information.
                </td>
            </tr>
            <tr>
                <th>patient</th>
                <td><%= @authentication.patient %></td>
                <td>
                    This is the <em>patient identifier</em> used as the search param for the Health APIs.
                </td>
            </tr>
            <tr>
                <th>id_token</th>
                <td>
                    <small><pre>
<%= JSON.pretty_generate @authentication.parsed_id_token %>
                    </pre></small>
                </td>
                <td>
                    Information about the authenticated user from the JSON Web Token (JWT).  The nonce is used for
                    validating the message to the callback from the authentication server.
                </td>
            </tr>
        </tbody>
    </table>
</div>