<div class="site-l-wrapper">
  <h3 class='h3 text-center'>Claims for <%= @veteran.present? ? "#{@veteran.name} requested by #{@name}" : @name %></h3>
  <%= render partial: "menu" %>
  <table>
    <thead>
      <tr>
        <th scope="col">Evss Id</td> 
        <th scope="col">Open</td>
        <th scope="col">Claim Type</td> 
        <th scope="col">Status</td>
      </tr>
    </thead>
    <% @claims.each do |claim| %>
      <tr>
        <td><%= link_to claim['attributes']["evss_id"], claim_path(id: claim['attributes']["evss_id"], user_id: params[:user_id]) %></td> 
        <td><%= claim['attributes']["open"] %></td>
        <td><%= claim['attributes']["claim_type"] %></td> 
        <td><%= claim['attributes']["status"] %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class='col-md-6 offset-md-3'>
  <% if Figaro.env.debug_access_token? %>
    <hr />
    <h3>My session token</h3>

    <div class='well' id='access_token'><%= @session.access_token %></div>
  <% end %>
</div>