<div class='container'>
  <div class='row'>
    <div class='col-12'>
      <div class='row'>
        <div class='col-md-10'>
          <h3 class='h3'>Claim Details</h3>
        </div>
        <div class='col-md-2'>
          <span class="pill pill-<%= @claim['attributes']['status']&.downcase %>">
            <%= @claim['attributes']['status'] %> 
          </span>
        </div>
      </div>
      <div class="row">
        <% @claim['attributes'].each do |key, value| %>
            <% next if value.is_a? Array %>
            <div class="card">
              <b><%= key.humanize %> </b> 
              <%= value %> 
            </div>
        <% end %>
      </div>

      <h3 class='h3'>Supporting Documents</h3>
      <% unless @claim['attributes']['supporting_documents'].nil? %>
        <% if @claim['attributes']['supporting_documents'].any? %>
          <table class='table table-striped'>
            <tr>
              <th>Document ID</th>
              <th>Filename</th>
              <th>Uploaded At</th>
            </tr>
            <% @claim['attributes']['supporting_documents'].sort_by{|d| DateTime.parse(d['uploaded_at'])}.reverse.each do |document| %>
              <tr>
                <td><%= document['id'] %></td>
                <td><%= document['filename'] %></td>
                <td><%= DateTime.parse(document['uploaded_at']).strftime("%m/%d/%Y") %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p class='text-center'>No Documents Uploaded</p>
        <% end %>
      <% end %>
      <%= form_tag update_supporting_document_claim_path(@claim), multipart: true do %>
        <div class="row">
          <div class="col-4">
            <label>Add Supporting Document</label>
            <div class='form-group'>
              <%= hidden_field_tag :evss_id, params[:id] %>
              <%= file_field_tag :attachment, class: 'form-input' %>
            </div>
          </div>
          <div class="col-8">
            <%= submit_tag 'Upload', class: 'btn btn-primary'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
