<!DOCTYPE html>
<html>
  <head>
    <title>OauthRailsVethealth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash.alert %>
      <br/>
      <div class="alert alert-danger" role="alert">
          <%= flash.alert %>
      </div>
      <% end %>
      <% if flash.notice %>
      <br/>
      <div class="alert alert-warning" role="alert">
          <%= flash.notice %>
      </div>
      <% end %>

      <%= yield %>
    </div>
    <br/> <!-- some space at the end of the page -->
  </body>
</html>
