<div class="container">
    <h1>Veteran Verification</h1>
    <h2>for <%= @name %> <%= render partial: "veteran_confirmed", object: @veteran_verification.confirmed_status %></h2>

    <% if @veteran_verification.service_histories.any? %>
    <br/>
    <%= render partial: "service_histories", object: @veteran_verification.service_histories %>
    <% end %>

    <% if @veteran_verification.disability_rating %>
    <br/>
    <%= render partial: "disability_rating", object: @veteran_verification.disability_rating %>
    <% end %>

    <% if @veteran_verification.errors.any? %>
    <br/>
    <table class="table">
        <% @veteran_verification.errors.each do |error| %>
        <thead>
            <tr class="table-danger">
                <th colspan="2"><%= error[:message] %></th>
            </tr>
        </thead>
        <tbody class="table-striped">
            <% error[:error_objects].each do |api_error| %>
            <tr>
                <th scope="row"><%= api_error['title'] %></th>
                <td><%= api_error['detail'] %></td>
            </tr>
            <% end %>
        </tbody>
        <% end %>
    </table>
    <% end %>

    <br/>
    <%= link_to 'Logout', logout_path, class: "btn btn-primary" %>
</div>
