<div class="container">
    <h1>Veteran Verification</h1>
    <h2>for <%= @name %> <%= render partial: "veteran_confirmed", object: @veteran_confirmed %></h2>

    <br/>
    <%= render partial: "service_histories", object: @service_histories %>

    <br/>
    <%= render partial: "disability_rating", object: @disability_rating %>

    <br/>
    <%= link_to 'Logout', logout_path, class: "btn btn-primary" %>
</div>