<!DOCTYPE html>
<html>
  <head>
    <title>OauthRailsVetverification</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Vets-API</a>
      <% if @session.present?%>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-5">
              <%= link_to 'Profile', user_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Logout', logout_path, class: "btn btn-primary btn-sm" %>
            </li>
          </ul>
        </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
