<!DOCTYPE html>
<html>
  <head>
    <title>Lighthouse API Ruby Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
    <%= stylesheet_link_tag 'https://s3-us-gov-west-1.amazonaws.com/dev-design.va.gov/formation.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://s3-us-gov-west-1.amazonaws.com/dev-design.va.gov/assets/stylesheets/application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://s3-us-gov-west-1.amazonaws.com/dev-design.va.gov/assets/stylesheets/application.css', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header" role="banner">
      <div class="site-l-wrapper">
        <div class="site-header__masthead">
          <div class="site-header__logo" id="extended-logo">
            <em class="site-header__logo-text">
              <a class="site-header__logo-link" title="VA.gov Design System homepage" href="/"><strong class="vads-u-display--block small-screen:vads-u-display--inline">Lighthouse</strong> <span class="vads-u-display--none small-screen:vads-u-display--inline">|</span> OAuth Example - Rails</a>
            </em>
          </div>
          <div class="site-header__utility-links">

            <% if @session.present? %>
              <%= link_to 'Logout', logout_path, class: "usa-button site-button-inverse" %>
            <% else %>
              <%= link_to 'OAuth Login', @oauth_url, class: "usa-button site-button-inverse" %>
              <a href="https://github.com/department-of-veterans-affairs/vets-api-clients/blob/master/test_accounts.md" class="usa-button vads-u-margin--0" target="_BLANK">Test Users</a>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <% if flash.alert %>
      <br/>
      <div class="alert alert-danger" role="alert">
          <%= flash.alert %>
      </div>
    <% end %>
    <% if flash.notice %>
      <div class="vads-u-background-color--gold vads-u-padding-y--2 text-center" role="alert">
          <p class="vads-u-font-size--lg vads-u-margin--0">
            <strong><%= flash.notice %></strong>
          </p>
      </div>
    <% end %>
    <main>
      <div class="large-screen:vads-u-padding-x--0">
        <% if @session.present? && !@session.expired? %>
          <div class="site-top-nav-wrapper site-l-wrapper ">
            <nav class="site-header__nav">
              <ul class="site-header__nav-list">
                <li class="site-header__nav-item">
                  <a class="site-header__nav-item__link " href="https://developer.va.gov" target="_BLANK">Documentation</a>
                </li>
                <% if @session.present? %>
                  <li class="site-header__nav-item">
                    <a class="site-header__nav-item__link " href="/claims">View Claims</a>
                  </li>
                  <li class="site-header__nav-item">
                    <a class="site-header__nav-item__link " href="/verification">Veteran Verification</a>
                  </li>
                  <li class="site-header__nav-item">
                    <%= link_to 'Benefits Intake', documents_path, class: 'site-header__nav-item__link' %>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div>

        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer class="site-footer vads-u-padding-y--5" role="contentinfo">
      <div class="site-l-wrapper">
        <div class="medium-screen:vads-u-display--flex medium-screen:vads-u-justify-content--space-between vads-u-align-items--center">
          <div>
            <ul class="site-footer__links">
              <li class="site-footer__links__item"><a href="http://www.va.gov/playbook/" target="_blank">VA.gov playbook</a></li>
              <li class="site-footer__links__item"><a target="_blank" href="https://www.section508.va.gov/">Accessibility</a></li>
              <li class="site-footer__links__item"><a href="http://www.va.gov/web/" target="_blank">Web governance &amp; policies</a></li>
              <li class="site-footer__links__item"><a href="http://www.va.gov/privacy/">Privacy</a></li>
            </ul>
          </div>
          <div class="footer-seal">
            <a href="https://va.gov" class="site-footer__logo" title="Go to VA.gov"><%= image_tag('https://s3-us-gov-west-1.amazonaws.com/dev-design.va.gov/assets/img/va-logo-white.png', alt: "U.S. Department of Veterans Affairs logo") %></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
