<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="large-screen:vads-u-padding-x--0">
        <%- include('./partials/main_nav') %>
        <div class="site-l-wrapper">
          <div class="vads-l-grid-container">
            <form action="/users" accept-charset="UTF-8" method="post">
              <div class="vads-l-row">
                <div class="vads-l-col--6">
                  <label for="first_name">First Name:</label>
                  <input type="text" name="first_name" id="first_name" class="usa-input">
                </div>
                <div class="vads-l-col--6">
                  <label for="last_name">Last Name:</label>
                  <input type="text" name="last_name" id="last_name">
                </div>
              </div>
              <div class="vads-l-row">
                <div class="vads-l-col--6">
                  <label for="ssn">Social Security Number:</label>
                  <input type="text" name="ssn" id="ssn">
                </div>
                <div class="vads-l-col--6">
                  <label for="birth_date">Date of Birth:</label>
                  <input type="text" name="birth_date" id="birth_date">
                </div>
              </div>
              <div class="vads-l-row">
                <div class="vads-l-col--12 text-center">
                  <input type="submit" name="commit" value="Add Veteran" data-disable-with="Add Veteran">
                </div>
              </div>
            </form>
          </div>

        <div>
          <h3 class="h3 text-center">Veterans I Represent</h3>
          <table>
            <thead>
              <tr>
                <th>Name</td>
                <th></td>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(user => { %>
                <tr>
                  <td><%= user.first_name%> <%= user.last_name%></td>
                  <td><a href='/claims/for/<%= user.id %>'>View Claims</a></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        </div>
      </div>
      <div style="max-width: 90%; margin: 3rem auto">
        <hr>
        <h3>Session token</h3>
        <div>
          <p><strong>Access Token:</strong></p>
          <div id="access token" style="overflow-x: auto; border: 1px solid #000; padding: 5px">
            <%= tokenset.access_token %>
          </div>
          <button onclick="copyToClipboard()">Copy Token</button>
          <p><strong>Refresh Token:</strong></p>
          <%= tokenset.refresh_token %>
          <p><strong>Scopes:</strong></p>
          <%= tokenset.scope %>
        </div>    
      </div>
    </main>
    <%- include('./partials/footer') %>
    <script>
      function copyToClipboard() {
        const range = document.createRange();
        range.selectNode(document.getElementById("access token"));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand("copy");
        window.getSelection().removeAllRanges();
        alert("Copied Token")
      }
    </script>
  </body>
</html>

