<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="large-screen:vads-u-padding-x--0">
        <%- include('./partials/main_nav') %>
        <div class="site-l-wrapper">
          <div>
            <h3 class='text-center'><%= user.userinfo.name%> is <%= veteranStatus %></h3>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>

