<%= render partial: 'health_api_header' %>
<% if params.keys.include?(:return_count) && params.keys.include?(:return_page)%>
<%= link_to "Return to #{params[:api_name]} Search", search_api_path(params[:api_name], params: {count: params[:return_count], page: params[:return_page]}), class: 'btn btn-primary' %>
<br><br>
<% end %>
<div class="card">
  <h5 class="card-header">
    <code>GET</code> request to <code><%= @target %></code>
  </h5>
  <div class="card-body">
    <p class="card-title">
        Response Result <code><%= @api_response.code %></code>
    </p>
    <p class="card-text">
        <pre><code>
<%= JSON.pretty_generate @api_response.to_h %>
        </code></pre>
    </p>
  </div>
</div>