<div class="site-l-wrapper">
  <h3 class='text-center'>Veterans Represented by <%= @name %></h3>
</div>

<div class='vads-l-grid-container'>
  
  <% if @user && @user.test_veterans.present? %>
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th class='text-center' scope="col">Claims</th>
          <th class='text-center' scope="col">Active ITF</th>
          <th class='text-center' scope="col">POA</th>
          <th class='text-center' scope="col">Form 0966</th>
          <th class='text-center' scope="col">Form 526</th>
          <th class='text-center' scope="col">Form 2122</th>
          <th class='text-center' scope="col">Delete User</th>
        </tr>
      </thead>
      <% @user.test_veterans.each do |veteran| %>
        <tr>
          <td><%= veteran.first_name %> <%= veteran.last_name %></td>
          <td class='text-center'><%= link_to 'View', claims_url(user_id: veteran.try(:id)) %></td>
          <td class='text-center'>
            <%= link_to 'Compensation', active_itf_url(user_id: veteran.try(:id), type: 'compensation') %></br>
            <%= link_to 'Pension', active_itf_url(user_id: veteran.try(:id), type: 'pension') %></br>
            <%= link_to 'Burial', active_itf_url(user_id: veteran.try(:id), type: 'burial') %>
          </td>	
          <td class='text-center'><%= link_to 'Active', active_poa_url(user_id: veteran.try(:id)) %></td>	
          <td class='text-center'><%= link_to 'Submit', form_url(user_id: veteran.try(:id), form_number: '0966'), data: {turbolinks: "false"} %></td>	
          <td class='text-center'><%= link_to 'Submit', form_url(user_id: veteran.try(:id), form_number: '526'), data: {turbolinks: "false"} %></td>	
          <td class='text-center'><%= link_to 'Submit Upload', form_2122_url(user_id: veteran.try(:id), form_number: '2122'), data: {turbolinks: "false"} %></br>
            <%= link_to 'Submit Signature', form_url(user_id: veteran.try(:id), form_number: '2122'), data: {turbolinks: "false"} %>
          </td>
          <td class='text-center'><%= link_to 'Remove',  { action: :destroy, id: veteran.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger' %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <%= form_tag({controller: "users", action: "create"}, method: "post") do %>
    <div class="vads-l-row">
      <div class="vads-l-col--6">
        <%= label_tag(:first_name, "First Name:") %>
        <%= text_field_tag(:first_name, nil, class: 'usa-input') %>
      </div>
      <div class="vads-l-col--6">
        <%= label_tag(:last_name, "Last Name:") %>
        <%= text_field_tag(:last_name) %>
      </div>
    </div>
    <div class="vads-l-row">
      <div class="vads-l-col--6">
        <%= label_tag(:ssn, "Social Security Number:") %>
        <%= text_field_tag(:ssn) %>
      </div>
      <div class="vads-l-col--6">
        <%= label_tag(:birth_date, "Date of Birth:") %>
        <%= text_field_tag(:birth_date) %>
      </div>
    </div>
    <div class="vads-l-row">
      <div class="vads-l-col--12 text-center">
        <%= submit_tag("Add A Veteran") %>
      </div>
    </div>
  <% end %>
</div>
<div class='col-md-6 offset-md-3'>
  <% if Figaro.env.debug_access_token? %>
    <hr />
    <h3>My session token</h3>

    <div class='well' id='access_token'><%= @session.access_token %></div>
  <% end %>
</div>
